{% extends "admin_header_footer.html" %}
{% block content %}
<!--<html>
<head>
	<title>{{ title }}</title>
</head>
<body>

	<h1>Hello, {{ user.username }}</h1>
	{% with messages = get_flashed_messages() %}
:qa
		{% if messages %} 
			{% for msg in messages %} 
				<p>{{ msg }}</p></br>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<p>
		{% for name in lst %}
			<span>{{ name }}</span>
			<span style="margin-left:20px">
				<a target="blank" style="text-decoration:none" href="{{ url_for('print_page', filename = name) }}">
					<button>Print</button>
				</a>
			</span><br><br>
		{% endfor %}
	</p>

	<form action="/upload" method="post" enctype="multipart/form-data" target="_blank">
		<p><input type="file" name="file"></p>
		<p><input type="submit" value="upload"></p>
	</form>
	
	<a href="{{ url_for('change_password', username = user.username) }}">Change Password</a>

	<form method="post" action= {{ url_for('logout') }}>
		<p><input type="submit" value="Logout"></p>

	</form>
</body>
</html>
 -->
<div class="row marketing">
  <div class="col-md-10 col-sm-12 col-lg-7" >
	<form  method="post" action="{{ url_for('print_page') }}" class="form-horizontal form-group">
    <div class="col-md-8 box-images">
	<select name="files" multiple  height="12" style="margin:-11px;margin-right:-15px;width:100%;height:100%;font-size:20px;padding:10px">
	  {% for name in lst %}
		<option value={{ name }}>{{ name }}</option>
	  {% endfor %} 
	</select>
    </div>
  </div>
 
  <div class="col-md-4 col-sm-12 col-lg-5 ">
      <div class="form-group form-horizontal">
        <label for="pages" class="control-label col-xs-2"> Pages</label>
        <div class="col-xs-10">
          <div class="radio">
            <label><input type="radio" name="pages" value="all" checked>All</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="pages" value="range"><input type="text" class="form-control" id="radio-input" name="range" placeholder="eg: 1-5, 8, 10"></label>
          </div>
          </br>
        </div>
 
        <label for="copies" class="control-label col-xs-2"> Copies</label>
          <div class="col-xs-10">
            <input type="number" class="form-control" id="copies" name="copies" placeholder="Specify Copies" value="1">
            </br>
          </div>
          </br>
          <label for="Layout" class="control-label col-xs-2"> Layout</label>
          <div class="col-xs-10">
            <select class="form-control" name="layout">
              <option value="portrait">Portrait</option>
              <option value="landscape">Landscape</option>
            </select>
            </br>
          </div>

          <label for="Page-size" class="control-label col-xs-2"> Page Size</label>
          <div class="col-xs-10">
            <select class="form-control" name="size">
              <option value="a4">A4</option>
              <option value="a3">A3</option>
              <option value="letter">Letter</option>
              <option value="legal">Legal</option>
            </select>
            </br>
          </div>
 
          <label for="Printer" class="control-label col-xs-2"> Printer </label>
          <div class="col-xs-10">
            <select class="form-control" name="printer">
              <option value="printer1">Printer 1</option>
              <option value="printer2">Printer 2</option>
              <option value="printer3">Printer 3</option>
              <option value="printer4">Printer 4</option>
            </select>
            </br>
          </div>

          <label for="Side" class="control-label col-xs-2"> Side</label>
            <div class="col-xs-10">
              <select class="form-control" name="side">
                <option value="one-sided">Single</option>
                <option value="two-sided">Double side</option>
              </select>
              </br></br>
            </div>
 
        </div>
  </div>
  <div class="">
	<div class="pull-right col-md-4 col-sm-12 col-lg-5">
            <button type="submit" name="submit" class="btn btn-lg btn-primary pull-right btn-block">    Print<span class="glyphicon glyphicon-print" aria-hidden="true"></button>
	</form>
	</div>
	<div class="pull-left col-md-10 col-sm-12 col-lg-7">

	<form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
      <label for="exampleInputFile"></label>
	  <div class="pull-left col-md-10 col-sm-12 col-lg-7">
      <input type="file" name="file" id="exampleInputFile" class="form-control pull-left">
  	  </div>
      <button type="submit" class="btn btn-lg btn-primary pull-right">Upload <span class="glyphicon glyphicon-upload" aria-hidden="true"></button>
	</form></div>
  </div>
</div>
</div>
</div>
{% endblock %}
