{% extends "header_footer.html" %}
{% block content %}
  <div>
    <table class="table table-striped">
      <tr>
        <th>S.no </th>
        <th>File name </th>
        <th>Copies </th>
        <th>Pages </th>
        <th>Printer</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
 	    <td>1</td>
        <td>certificate.pdf</td>
        <td>100</td>
        <td>1-40</td>
        <td>Epson 2345</td>
        <td>
          <a href="" <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
          &nbsp; &nbsp; | &nbsp; &nbsp;
          <a href="" <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</a>
        </td>
	  </tr>;
    </table>
  </div>

{% endblock %}
